{
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "arrowParents": "always",
    "endOfLine": "lf"
}
